<a href="https://colab.research.google.com/github/FariaTabassum/othello-internship/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. Use a loop to display elements from a given list present at odd index positions.
```
# Input: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Output: 20 40 60 80 100
```

In [6]:
def odd_indices(lst):
  odd_indice = []
  for index in range(1, len(lst), 2):
    odd_indice.append(lst[index])
  return odd_indice

#Uncomment the line below when your function is done
print(odd_indices([10, 20, 30, 40, 50, 60, 70, 80, 90, 100]))

[20, 40, 60, 80, 100]

2. Calculate the cube of all numbers from 1 to a given number.

```
# Input: input number = 6

Output:
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216
```

In [18]:
n=int(input("input number = "))

def cube(num):
  return num * num * num

for i in range(1,n+1):
   cub = cube(i)
   print("Current Number is : {0}  and the cube is {1}".format(i, cub))

input number = 6
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216


3. Write a program to print the following start pattern using the for loop

In [21]:
rows = int(input())
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*


4. Display numbers from -10 to -1 using for loop

Output:
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [32]:
n=int(input())
for i in range (n,0,-1):
  print(-i)

10
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1